/* this is some magical font-importing.  
you'll learn about it later. */
@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');

body {
  margin: 0;
  background: #eee;
  font-family: #E5E7EB;
  font-size: 48px;
}

.header {
  background: #1F2937;
  height: 500px;
  font-family: #E5E7EB;
  font-size: 48px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 20px;
}

.logo {
  color: #E5E7EB;
  font-family: #E5E7EB;
  font-size: 48px;
  font-weight: 900;
  font-style: bold;
}

a {
  /* this removes the line under our links */
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
  display: flex;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 16px;
}

.left, .right {
  display: flex;
  align-items: center;
  gap: 16px;
}

